.centered-container {
  text-align: center;
}

.centered-child {
  display: inline;
}

.contact-list-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
@font-face {
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "chatapp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "chatapp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-edit-modify-streamline:before {
  content: "\61"; }

.icon-settings-streamline-1:before {
  content: "\63"; }

.icon-paperplane:before {
  content: "\62"; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  color: #2c3e50;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.app-messenger {
  display: flex;
  flex-direction: column; }
  .app-messenger .header {
    height: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .app-messenger .header .left {
      width: 200px;
      position: relative; }
      .app-messenger .header .left .left-action {
        position: absolute;
        left: 8px;
        top: 0; }
      .app-messenger .header .left .right-action {
        position: absolute;
        right: 8px;
        top: 0; }
      .app-messenger .header .left h2 {
        line-height: 50px;
        font-size: 14px;
        font-weight: 600;
        display: block;
        text-align: center; }
      .app-messenger .header .left button {
        background: none;
        line-height: 50px;
        border: 0 none;
        font-size: 20px;
        cursor: pointer; }
    .app-messenger .header .content {
      flex-grow: 1; }
      .app-messenger .header .content h2 {
        line-height: 50px;
        text-align: center; }
    .app-messenger .header .right {
      width: 300px; }
      .app-messenger .header .right .user-bar {
        line-height: 50px;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px; }
        .app-messenger .header .right .user-bar .profile-name {
          padding-right: 10px; }
        .app-messenger .header .right .user-bar .profile-image {
          line-height: 50px; }
          .app-messenger .header .right .user-bar .profile-image img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 10px 0 0 0; }
  .app-messenger .main {
    height: 100%;
    display: flex;
    overflow: hidden; }
    .app-messenger .main .sidebar-left {
      width: 200px;
      border-right: 1px solid rgba(0, 0, 0, 0.05); }
    .app-messenger .main .sidebar-right {
      border-left: 1px solid rgba(0, 0, 0, 0.05);
      width: 300px; }
      .app-messenger .main .sidebar-right .title {
        padding: 10px; }
    .app-messenger .main .content {
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column; }
      .app-messenger .main .content .messages {
        flex-grow: 1; }
      .app-messenger .main .content .messenger-input {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        height: 50px;
        display: flex;
        flex-direction: row; }
        .app-messenger .main .content .messenger-input .text-input {
          flex-grow: 1; }
          .app-messenger .main .content .messenger-input .text-input textarea {
            border: 0 none;
            width: 100%;
            height: 100%;
            padding: 8px 15px; }
        .app-messenger .main .content .messenger-input .actions button.send {
          background: #2ecc71;
          color: #FFF;
          border: 0 none;
          padding: 7px 15px;
          line-height: 50px; }

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%; }
  .messages .message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px; }
    .messages .message .message-user-image img {
      width: 20px;
      height: 20px;
      border-radius: 50%; }
    .messages .message .message-body {
      padding-left: 10px; }
      .messages .message .message-body .message-text {
        background: rgba(0, 0, 0, 0.05);
        padding: 10px;
        border-radius: 10px; }
    .messages .message.me {
      justify-content: flex-end; }
      .messages .message.me .message-body .message-text {
        background: #2ecc71;
        color: #FFF; }

.chats {
  overflow-y: auto;
  height: 70%; }
  .chats .chat {
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 8px; }
    .chats .chat .user-image {
      width: 30px; }
      .chats .chat .user-image img {
        max-width: 100%; }
      .chats .chat .user-image .chat-avatars {
        overflow: hidden;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ccc;
        position: relative; }
        .chats .chat .user-image .chat-avatars.chat-avatars-1 img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
        .chats .chat .user-image .chat-avatars.chat-avatars-2 img {
          width: 50%;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0; }
          .chats .chat .user-image .chat-avatars.chat-avatars-2 img:first-child {
            left: 0;
            top: 0; }
        .chats .chat .user-image .chat-avatars.chat-avatars-3 img {
          position: absolute;
          width: 50%;
          height: 50%;
          right: 0;
          top: 0; }
          .chats .chat .user-image .chat-avatars.chat-avatars-3 img:first-child {
            left: 0;
            top: 0;
            width: 50%;
            height: 100%; }
          .chats .chat .user-image .chat-avatars.chat-avatars-3 img:last-child {
            bottom: 0;
            right: 0;
            top: 15px;
            width: 50%;
            height: 50%; }
        .chats .chat .user-image .chat-avatars.chat-avatars-4 img {
          position: absolute;
          width: 50%;
          height: 50%;
          right: 0;
          top: 0; }
          .chats .chat .user-image .chat-avatars.chat-avatars-4 img:first-child {
            left: 0;
            top: 0;
            width: 50%;
            height: 100%; }
          .chats .chat .user-image .chat-avatars.chat-avatars-4 img:nth-child(3n) {
            bottom: 0;
            right: 0;
            top: 15px;
            width: 50%;
            height: 50%; }
          .chats .chat .user-image .chat-avatars.chat-avatars-4 img:last-child {
            left: 0;
            bottom: 0;
            top: 15px; }
    .chats .chat .chat-info {
      flex-grow: 1;
      padding-left: 8px;
      padding-right: 8px;
      overflow: hidden; }
      .chats .chat .chat-info h2 {
        font-size: 13px;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .chats .chat .chat-info p {
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .chats .chat.active {
      background: rgba(0, 0, 0, 0.05); }
    .chats .chat.notify .chat-info p {
      color: #2ecc71; }

.members .member {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px; }
  .members .member .user-image {
    width: 30px;
    position: relative; }
    .members .member .user-image img {
      width: 30px;
      height: 30px;
      border-radius: 50%; }
    .members .member .user-image .user-status {
      width: 8px;
      height: 8px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 10px;
      border: 1px solid #FFFFFF;
      background: #cccccc;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .members .member .user-image .user-status.online {
        background: #2ecc71; }
  .members .member .member-info {
    padding-left: 8px;
    flex-grow: 1; }
    .members .member .member-info h2 {
      font-size: 14px; }
    .members .member .member-info p {
      font-size: 12px; }

h2.title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8); }

.toolbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  position: relative; }
  .toolbar span {
    line-height: 20px;
    height: 30px;
    background: #2ecc71;
    color: #FFF;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    margin: 10px 5px 0 0;
    padding: 5px 8px; }
  .toolbar label {
    line-height: 50px; }
  .toolbar input {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    border: 0 none; }
  .toolbar .search-user {
    min-width: 180px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0 none; }
    .toolbar .search-user .user-list {
      display: flex;
      flex-direction: column; }
      .toolbar .search-user .user-list .user {
        display: flex;
        flex-direction: row;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        cursor: pointer; }
        .toolbar .search-user .user-list .user img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-top: 10px; }
        .toolbar .search-user .user-list .user h2 {
          padding-left: 8px;
          flex-grow: 1;
          font-size: 14px; }
        .toolbar .search-user .user-list .user:last-child {
          border-bottom: 0 none; }
        .toolbar .search-user .user-list .user:hover {
          background: rgba(0, 0, 0, 0.02); }

.user-bar {
  position: relative; }
  .user-bar button.login-btn {
    height: 50px;
    border: 0 none;
    background: none;
    color: #2ecc71;
    font-weight: 600;
    font-size: 14px; }
  .user-bar .user-form {
    background: #FFF;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.09);
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0 none;
    padding: 10px; }
    .user-bar .user-form .form-item label {
      line-height: 30px;
      min-width: 75px;
      text-align: right;
      margin-right: 8px; }
    .user-bar .user-form .form-item input[type="email"], .user-bar .user-form .form-item input[type="password"], .user-bar .user-form .form-item input[type="text"] {
      height: 30px;
      line-height: 30px; }
    .user-bar .user-form .form-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
  .user-bar .user-menu {
    background: #FFF;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.09);
    min-width: 200px;
    position: absolute;
    right: 0;
    top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0 none; }
    .user-bar .user-menu ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .user-bar .user-menu ul li {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 8px; }
        .user-bar .user-menu ul li button {
          background: none;
          border: 0 none;
          display: block;
          cursor: pointer;
          text-align: center;
          width: 100%; }
        .user-bar .user-menu ul li:hover {
          background: rgba(0, 0, 0, 0.09); }
    .user-bar .user-menu h2 {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      display: block;
      text-align: center; }

.form-item {
  display: flex;
  margin-bottom: 10px; }
  .form-item label {
    font-weight: 600; }
  .form-item input[type="email"], .form-item input[type="password"], .form-item input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 3px 8px; }

.form-actions button {
  border: 0 none;
  padding: 7px 15px;
  text-align: center; }
  .form-actions button.primary {
    background: #2ecc71;
    color: #FFF; }

.app-message {
  line-height: 1.5em;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #2ecc71;
  border-radius: 5px;
  margin: 0 0 10px 0; }
  .app-message.error {
    background: #e74c3c;
    color: #FFF;
    border-color: #e74c3c; }

.user-status {
  font-size: 10px;
  color: #2c3e50; }
  .user-status.online {
    color: #2ecc71; }

.app-warning-state {
  font-size: 10px;
  padding: 0 10px;
  color: #e74c3c; }

/*# sourceMappingURL=app.css.map */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-toolbar {
  margin-left: -5px;
}
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: left;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn .caret {
  margin-left: 0;
}
.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.btn-group-vertical > .btn-group > .btn {
  float: none;
}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}
.btn-group-justified > .btn-group .btn {
  width: 100%;
}
.btn-group-justified > .btn-group .dropdown-menu {
  left: auto;
}
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.modal-header:after,
.modal-footer:after {
  clear: both;
}
